In [1]:
import sys
sys.path.append('..')

from final.cleaning import import_dataset, clean_whole_df, filter_df, clean_test_df
from final.model_processing import partition, run_model
from final.dashboard import rate

In [2]:
host = 'mongodb://Adminkevin:mongodb@127.0.0.1:27017/?authSource=admin'
db_name = 'movielens'

df = import_dataset(host, db_name)
cleaned_df = clean_whole_df(df)

cleaned_df.head()

   user_id  movie_id  rating  timestamp
0     6040       573       4  956704056
1     6040       589       4  956704996
2     6040         1       3  957717358
3     6040      2068       4  997453982
4     6040       592       2  956716016

In [3]:
%%time

filtering_opts = {
    "min_mean_rating": 1.5,
    "max_mean_rating": 4.5,
    "movies_threshold": 35,
    "movies_few_notes": True,
    "users_threshold": 45,
    "users_few_notes": True,
    "users_no_discriminating": True,
    "users_constant_dt": True,
}

merged_df = filter_df(cleaned_df, **filtering_opts)

merged_df.head()

Nombre de ratings par utilisateur :
count    6040.000000
mean      163.412417
std       188.350206
min        16.000000
25%        44.000000
50%        95.000000
75%       204.000000
max      1999.000000
Name: user_id, dtype: float64


CPU times: user 624 ms, sys: 26.1 ms, total: 650 ms
Wall time: 703 ms

    user_id  movie_id  rating  timestamp
3      6040      2068       4  997453982
24     6040      2402       1  956716557
35     6040      3083       4  963272132
37     6040       953       5  997454160
39     6040      3095       4  963271343

In [4]:
partition_opts = {"test_size": 0.8, "mini_size": 0.03}

train_df, test_df, train_mini, test_mini = partition(merged_df, partition_opts)
train_df.shape, test_df.shape

((42251, 4), (169007, 4))

In [5]:
opts = {
    "n_components": 10,
    "max_iter": 200,
    "normalize": {"should": True, "min": 1, "max": 5},
}

model, pred_df = run_model(train_df, opts)
model, pred_df.shape

pred_df

          user_id  movie_id   predict
0               0         0  1.098202
1               0         1  1.175904
2               0         2  1.167429
3               0         3  1.037832
4               0         4  1.094016
...           ...       ...       ...
10714673     4000      2673  1.080112
10714674     4000      2674  1.051694
10714675     4000      2675  1.002781
10714676     4000      2676  1.002436
10714677     4000      2677  1.020060

[10714678 rows x 3 columns]

In [6]:
cleaned_test_df = clean_test_df(train_df, test_df)

In [7]:
%%time

options = {
    "mse": True,
    "top_10": True,
    "bottom_10": True,
    "ndcg" : True
}


rating_train = rate(pred_df, train_df, options)
rating_test = rate(pred_df, cleaned_test_df, options)
rating_train, rating_test

CPU times: user 1.89 s, sys: 1.74 s, total: 3.63 s
Wall time: 2.26 s

([(2.7133168963241268, 7.362088579877993),
  1.3320849892999083,
  1.6621063894833386,
  0.9696746001217466],
 [(2.6995191582740143, 7.287403685888443),
  1.292133284376721,
  1.693592803378006,
  0.9738627222549239])